.container{
    margin-top: 1rem;
    border-top: 1px solid #c80025;
    max-width: 80%;
    height: 50%;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
}

.boxTitle{
    flex-wrap: wrap;
    display: inline-flex;
    margin-left: 7rem;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.one{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.one:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.second{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.second:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.third{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.third:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.fourth{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.fourth:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.fifth{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.fifth:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.sixth{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.sixth:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.seventh{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.seventh:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.eighth{
    max-width: 240px;
    min-width: 240px;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 7px black;
    transition: all .5s;
}

.eighth:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.title{
    margin-left: 50%;
    font-size: 24px;
    margin: 22px 0 12px;
    color: #000;
    max-width: 360px;
    text-shadow: 0 1px rgb(0 0 0 / 45%);
    font-family: 'NewJuneRegular-Regular';
}

.sub-title{
    font-size: 15px;
    display: block;
    margin-bottom: 3px;
    color: #fff;
    text-transform: uppercase;
}

.grid{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 58px 15px 15px;
    color: #ffffff;
}

.desc{
    line-height: 12px;
    font-size: 12px;
    color: #979797;
    text-shadow: 0 1px rgb(0 0 0 / 45%);
}

.icon{
    position: absolute;
    right: 10px;
    top: 57%;
    background: url(https://banco.bradesco/assets/classic/img/promocoes/ico-04.png) no-repeat;
    width: 38px;
    height: 38px;
    margin: -24px 0 0;
    background-size: 100% 100%;
}

a{
    display: block;
    position: relative;
    overflow: hidden;
    height: 235px;
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}

img{
    width: 100%;
}

h2{
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 58px 15px 15px;
    color: #ffffff;
}

