<div class="container">
    <div class="boxTitle">
        <h1 class="title">CONHEÇA OS BENEFÍCIOS E AS NOVIDADES DO BRADESCO</h1>
    </div>
    <div class="box">
        <div class="one">
           <a href="">
            <img src="https://banco.bradesco/assets/classic/img/promocoes/app-cartoes.png" alt="">
            <div class="grid">
                <span class="icon"></span>
                <span class="sub-title">APP BRADESCO CARTÕES</span>
                <p class="desc">Oferecimento visa</p>
            </div>
           </a>
        </div>
        <div class="second">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/copa-do-mundo.png" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">COPA DO MUNDO DA FIFA™</span>
                    <p class="desc">Oferecimento visa</p>
                </div>
            </a>
        </div>
        <div class="third">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/hub-credito.jpg" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">CRÉDITO</span>
                    <p class="desc">O crédito que você precisa está aqui</p>
                </div>
            </a>
        </div>
        <div class="fourth">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/342x330-promocoes-ofertas-cartoes.jpg" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">BRADESCO CARTÕES</span>
                    <p class="desc">Descubra o que você pode viver</p>
                </div>
            </a>
        </div>
        <div class="fifth">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/thumbnail-teatro.jpg" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">TEATRO BRADESCO</span>
                    <p class="desc">Até 50% de desconto e guichê exclusivo na compra de ingressos</p>
                </div>
            </a>
        </div>
        <div class="sixth">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/thumbnail-nextjoy.png" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">NEXTJOY</span>
                    <p class="desc">Pais e filhos em uma incrível jornada de educação financeira</p>
                </div>
            </a>
        </div>
        <div class="seventh">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/veloe_classic.jpg" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">VELOE</span>
                    <p class="desc">Só 6 mensalidades grátis para passar em pedágios e estacionamentos.</p>
                </div>
            </a>
        </div>
        <div class="eighth">
            <a href="">
                <img src="https://banco.bradesco/assets/classic/img/promocoes/menu_classic.jpg" alt="">
                <div class="grid">
                    <span class="icon"></span>
                    <span class="sub-title">MENU</span>
                    <p class="desc">Até 15% de desconto no valor da conta, reservas e mesa VIP com amenidades.</p>
                </div>
            </a>
        </div>
        
    </div>
    <p><br></p>
    <p><br></p>
    <p><br></p>
</div>
